[access]
	inheritFrom = All-Projects
[project]
	description = To test github plugin for gerrit
[access "refs/*"]
	owner = group user/fakhrulhasan01
[access "refs/for/refs/*"]
	read = group user/fakhrulhasan01
	push = group user/fakhrulhasan01
	label-Code-Review = -2..+2 group user/fakhrulhasan01
	label-Verified = -1..+1 group user/fakhrulhasan01
	rebase = group user/fakhrulhasan01
	removeReviewer = group user/fakhrulhasan01
	submit = group user/fakhrulhasan01
[access "refs/heads/*"]
	read = group user/fakhrulhasan01
	create = group user/fakhrulhasan01
	push = +force group user/fakhrulhasan01
	pushMerge = group user/fakhrulhasan01
[access "refs/tags/*"]
	push = group user/fakhrulhasan01
	push = +force group user/fakhrulhasan01
